<!DOCTYPE html>

<html>
  <head>
    <title> CP </title>

    <%= csrf_meta_tags %>

    <% @polyfills = [
          "fetch",
          "Promise",
          "Symbol",
          "Object.entries",
          "Array.prototype.includes",
          "Array.prototype.map",
          "Array.prototype.forEach",
          "Array.prototype.@@iterator",
          "String.prototype.includes",
          "Symbol.iterator",
        ]
      %>
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=<%= @polyfills.join(",") %>"></script>

    <!-- Bootstrap JS -->
    <!-- TEMPORARY jquery? -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'cp' %>
    <%= stylesheet_pack_tag 'cp' %>
    <%= javascript_pack_tag 'polyfill-css' %>

    <% if ENV['RAILS_ENV'] == 'development' && @is_windows %>
      <!-- For development in Windows -->
      <% @pack_url = "#{request.base_url.sub!("3000", "8080")}/packs/" %>
      <!-- For development on Mac -->
      <% @pack_url = "#{request.base_url}/packs/" %>
      <script src="<%= @pack_url %>cp.js?v=<%= DateTime.now %>"></script>
      <link rel="stylesheet" media="screen" href="<%= @pack_url %>cp.css?v=<%= DateTime.now %>">
      <script src="<%= @pack_url %>polyfill-css.js?v=<%= DateTime.now %>"></script>
    <% end %>

    <!-- FA icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div id="root"></div>

    <footer>
        <div class="container-fluid">
          <p class="text-muted">University of Toronto, 2017</p>
        </div>
    </footer>
  </body>
</html>
