<!DOCTYPE html>

<html>
  <head>
    <title> CP </title>

    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'cp' %>
    <%= stylesheet_pack_tag 'cp' %>

    <% if ENV['RAILS_ENV'] == 'development' %>
      <!-- For development in Windows -->
      <% @pack_url = "#{request.base_url.sub!("3000", "8080")}/packs/" %>
      <script src="<%= @pack_url %>cp.js"></script>
      <link rel="stylesheet" media="screen" href="<%= @pack_url %>cp.css">
    <% end %>

    <!-- FA icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div id="root"></div>

    <footer>
        <div class="container-fluid">
          <p class="text-muted">University of Toronto, 2017</p>
        </div>
    </footer>
  </body>
</html>
