<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <% @polyfills = [
          "fetch",
          "Promise",
          "Object.entries",
        ]
      %>
      <script src="https://cdn.polyfill.io/v2/polyfill.js?features=<%= @polyfills.join(",") %>"></script>
  </head>
  <style>
    body, h1, div, form, p, label, input, button{
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }
    form, div{
      width: 800px;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
    .admonishment{
      margin-top: 10px;
      border-top: #DDD solid 1px;
      padding: 5px;
      font-size: 14px;
    }
    #pdf_view_port{
      width: 100vw;
      height: calc(100vh - 200px);
      border-bottom: 1px #333 solid;
    }
    #acceptForm{
      opacity: 0;
    }
    #decision p{
      margin-bottom: 5px;
      font-size: 16px;
    }
    #decision input[type=text]{
      width: 100px;
      font-size: 16px;
    }
    label{
      padding: 0 10px;
    }
    header{
      background: #333;
      color: #fff;
      height: 30px;
    }
    header div{
      width: 800px;
      margin: 0 auto;
    }
    header h1{
      font-size: 22px;
      text-align: center;
    }
    #logout p{
      font-size: 14px;
      float: left;
      padding: 3px;
    }
    #logout input[type=submit], #decision p button{
      margin: 2px 5px 2px 5px;
      padding: 0 5px;
      font-size: 14px;
      outline: 0;
      border: #ccc solid 1px;
      background: #eee;
    }
    #logout input[type=submit]:hover, #decision p button:hover{
      border: #aaa solid 1px;
      background: #ccc;
    }
    #logout input[type=submit]:active, #decision p button:active{
      border: #aaa solid 1px;
      background: #bbb;
    }
    #logout {
      float: right;
      width: auto;
    }
  </style>

  <body>
    <header>
      <form id="logout" action="/logout" method="post">
        <p>User: <b><%=@offer[:applicant][:utorid]%></b></p>
        <input value="Logout" type="submit" />
      </form>
      <div>
        <h1>Offer for Teaching Assistantship of <%=@offer[:position]%></h1>
      </div>
    </header>
    <embed id="pdf_view_port" type='application/pdf' name="contract.pdf"/>
    <form id='decision'>
      <p>I hereby accept the Teaching Assistantship position offered here:</p>
      <p>
        <label><input onchange="showAcceptForm()" name="decision" type="radio" value="accept"/>Accept</label>
        <label><input onchange="showAcceptForm()" name="decision" type="radio" value="reject"/>Reject</label>
      </p>
      <p>
        <label id="acceptForm">To accept the contract, type your initial:
          <input id="signature" type="text" name="signature_name" required="required" maxlength="10">
        </label>
      </p>
      <p><button type='button' onclick='submitDecision()'>Submit</button></p>
    </form>
    <div id='status'>
    </div>
    <div class='admonishment'>
      <p><b>Important:</b> In order to arrange payroll, if this is your first DCS TAship or your SIN number has been changed since your last TAship, you must see Lisa DeCaro in person during office hours (M-F, 9:30-11, 2-3:30) office SF 3302F.</p>
      <p>If you have questions, please email Lisa DeCaro <a href="mailto:lisab@cs.toronto.edu">lisab@cs.toronto.edu</a>.</p>
    </div>

    <script>
      function setupPage(offer_status, fetch=false){
        if (fetch)
          fetchPdfData();
        let status = document.getElementById('status');
        let decision = document.getElementById('decision');
        if (offer_status == 'pending'){
          status.style.display='none';
          decision.style.display='block';
        }
        else{
          status.style.display='block';
          decision.style.display='none';
          status.innerHTML = `<h2>Status: </h2>
          <p>This offer has been `+offer_status+'.</p>';
        }
      }
      // helper factoring out frequently used code around a fetch
      function fetchHelper(url, init, action, blob=false){
        fetch(url, init).then(function(response) {
          if (blob){
            return response.blob();
          }
          else{
            return response.json();
          }
        }).then(function(response){
            action(response);
        });
      }
      function postHelper(url, data, action, blob=false){
        let init = {
            headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json; charset=utf-8',
            },
            method: 'POST',
            body: JSON.stringify(data),
            credentials: 'include', // This line is crucial in any fetch because it is needed to work with Shibboleth in production
        };
        fetchHelper(url, init, action, blob);
      }
      function getHelper(url, action, blob=false){
        let init = {
            headers: {
                Accept: 'application/json',
            },
            method: 'GET',
            credentials: 'include', // This line is crucial in any fetch because it is needed to work with Shibboleth in production
        };
        fetchHelper(url, init, action, blob);
      }
      function fetchPdfData(){
        getHelper("/pb/<%= @offer[:id] %>/pdf", setPdfViewPort, true);
      }
      function setPdfViewPort(response){
        let fileURL = URL.createObjectURL(response);
        let viewPort= document.getElementById("pdf_view_port");
        viewPort.setAttribute("src", fileURL);
      }
      function showAcceptForm(){
        let acceptForm= document.getElementById('acceptForm');
        let decision= getDecision();
        if (decision !=null){
          if(decision.value=='accept')
            acceptForm.style.opacity="1";
          else
            acceptForm.style.opacity="0";
        }
      }
      function getDecision(){
        let decision = document.getElementsByName('decision');
        let selected = null;
        decision.forEach(function(item, index){
          if (item.checked)
            selected = item;
        });
        return selected;
      }
      function submitDecision(){
        let decision = getDecision();
        let signature = document.getElementById('signature');
        if (decision != null){
          if(decision.value=='accept'){
            if (signature.value.trim()!=""){
              postStatus(decision.value, signature.value.trim());
            }
            else{
              alert("Error: you haven't signed your name yet.");
            }
          }
          else if (decision.value=='reject'){
            postStatus(decision.value);
          }
        }
        else{
          alert("Error: you haven't chosen whether to accept or reject.")
        }
      }
      function postStatus(status, signature = null){
        let res = confirm("Are you sure you want to "+status+" the TAship for this offer?");
        let data = {}
        if (signature!=null){
          data["signature"] = signature;
        }
        if (res) {
          postHelper("/pb/<%= @offer[:id] %>/"+status, data, updateStatus);
        }
      }
      function updateStatus(response){
        fetchPdfData();
        alert(response.message);
        if (response.success){
          setupPage(response.status);
        }
      }
      setupPage('<%= @offer[:status].downcase %>', true);
    </script>
  </body>
</html>
