<!DOCTYPE html>
<html>
  <head>
    <title>TAPP</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'tapp' %>
    <%= stylesheet_pack_tag 'tapp' %>

    <% if ENV['RAILS_ENV'] == 'development' %>
      <!-- For development in Windows -->
      <% @pack_url = "#{request.base_url.sub!("3000", "8080")}/packs/" %>
      <script src="<%= @pack_url %>tapp.js?v=<%= DateTime.now %>"></script>
      <link rel="stylesheet" media="screen" href="<%= @pack_url %>tapp.css?v=<%= DateTime.now %>">
    <% end %>

    <% @polyfills = [
          "fetch",
          "Promise",
          "Symbol",
          "Object.entries",
          "Object.assign",
          "Array.prototype.includes",
          "String.prototype.includes",
          "Array.prototype.map",
          "Array.prototype.@@iterator",
        ]
      %>
    <% @polyfills.each do |polyfill| %>
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=<%= polyfill %>"></script>
    <% end %>

    <!-- FA icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div id="root"></div>

    <footer>
      <div class="container-fluid">
        <p class="text-muted">University of Toronto, 2017.</p>
      </div>
    </footer>
  </body>
</html>
