<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Offers</h1>
    <form method="post">
      <table>
        <tr>
          <th>Select</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Position</th>
          <th>Hours</th>
          <th>Email</th>
          <th>Sent</th>
          <th>Status</th>
        </tr>
        <% @offers.each do |o| %>
          <tr>
            <th><input type="submit" value="Send Contract" formaction="/offers/<%= o["id"]%>/send-contract"></th>
            <th><%= o[:applicant]["last_name"]%></th>
            <th><%= o[:applicant]["first_name"]%></th>
            <th><%= o[:position]%></th>
            <th><%= o["hours"]%></th>
            <th><%= o[:applicant]["email"]%></th>
            <th><%= o[:sent]%></th>
            <th><%= o[:accepted] && o[:withdrawn]%></th>
          </tr>
        <% end %>
      </table>
    </form>
    <h1>Contracts</h1>
    <form method="post">
      <input type="submit" value="Nag" formaction="/contracts/nag">
      <input type="submit" value="Print Contracts" formaction="/contracts/print">
      <input id="contract_selected" type="hidden" name="contracts">
      <table style="margin-top: 10px;">
        <tr style="text-align: left;">
          <th>Select</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Position</th>
          <th>Email</th>
          <th>Status</th>
          <th>Contract Send Date</th>
          <th>Deadline</th>
          <th>Nag Count</th>
          <th>Printed</th>
        </tr>
        <% @contracts.each do |c| %>
          <tr>
            <th><input type="checkbox" onclick="updateContractSelected(this, <%=c["id"] %>);"></th>
            <th><%= c[:applicant]["last_name"]%></th>
            <th><%= c[:applicant]["first_name"]%></th>
            <th><%= c[:position]%></th>
            <th><%= c[:applicant]["email"]%></th>
            <th><%= c["accepted"] && c["withdrawn"]%></th>
            <th><%= c["updated_at"]%></th>
            <th><%= c[:deadline]%></th>
            <th><%= c["nag_count"]%></th>
            <th><%= c["printed"]%></th>
          </tr>
        <% end %>
      </table>
    </form>
    <script>
      contract_selected = [];
      function updateContractSelected(checkbox, val){
        input = document.getElementById("contract_selected")
        if (checkbox.checked)
          contract_selected.push(val)
        else
          contract_selected.splice(contract_selected.indexOf(val),1);
        input.value=JSON.stringify(contract_selected)
      }
    </script>
  </body>
</html>
