<p>Dear <%= @offer[:applicant][:first_name] %> <%= @offer[:applicant][:last_name] %>,</p>
<p>
  We would like to offer you a position as a TA for <%= @offer[:position] %>.
</p>
<p>
  Please visit the link below to view your offer and accept or reject it:<br/>
  <%= @url %>
</p>
<p>A statement about the Union prepared by the Union, 
along with other information about the Union, can be found <a href="http://cupe3902.org/unit-1/">here</a>. 
All of this information is that of the Union, represents the views 
of the Union and has not been approved or endorsed by the University. </p>
<p>If you have any questions, please let me know.<br/><br/>
Thank you,<br/>
 - <%= ENV['TA_COORD'] %>
</p>
