<p>Dear <%= @offer[:applicant][:first_name] %> <%= @offer[:applicant][:last_name] %>,</p>
<p>
  We would like to offer you a position as a TA for <%= @offer[:position] %>.
</p>
<p>
  Please visit the link below to view your offer and accept or reject it:<br/>
  <%= @url %>
</p>
<p>Have a great day!<br/>
 - <%= ENV['TA_COORD'] %>
</p>
