<p>Dear <%= @instructor[:name] %>,</p>
<p>The following are the tentative TA assignments for <%= @position %>:</p>
<table style="text-align:left;">
  <tr>
    <th><b>
      Last Name
    </b></th>
    <th><b>
      First Name
    </b></th>
    <th><b>
      Hours
    </b></th>
    <th><b>
      Email
    </b></th>
  </tr>
  <% @applicants.each do |applicant| %>
  <tr>
    <td><%= applicant[:last_name] %></td>
    <td><%= applicant[:first_name] %></td>
    <td><%= applicant[:hours] %></td>
    <td><%= applicant[:email] %></td>
  </tr>
  <% end %>
</table>
